Package: com.itsjafer.bettermultitasking
Name: BetterMultitasking
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: itsjafer <itsjafer@gmail.com>
Author: itsjafer <itsjafer@gmail.com>
Section: Tweaks
Depiction: https://itsjafer.com/repo/depictions/?p=com.itsjafer.bettermultitasking
